﻿@model Bootproject.Core.Services.Page

<div class="sectionroot">
    <section>
        <div class="sharedsection">
            <div class="sectioncontent">
                <div class="sectioncontent">
                    <h4>Page</h4>
                    <hr />
                    <div class="row">
                        <div class="col-md-4">
                            <form asp-action="Edit">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-group">
                                    <label asp-for="Slug" class="control-label"></label>
                                    <input asp-for="Slug" class="form-control" />
                                    <span asp-validation-for="Slug" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Title" class="control-label"></label>
                                    <input asp-for="Title" class="form-control" />
                                    <span asp-validation-for="Title" class="text-danger"></span>
                                </div>


                                <div class="form-group">
                                    <label asp-for="SortOrder" class="control-label"></label>
                                    <input asp-for="SortOrder" class="form-control" />
                                    <span asp-validation-for="SortOrder" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <div class="checkbox">
                                        <label>
                                            <input asp-for="Published" /> @Html.DisplayNameFor(model => model.Published)
                                        </label>
                                    </div>
                                </div>


                                @foreach (var content in Model.Contents)
                                {
                                    <div class="form-group" id="copycontent">
                                        <label asp-for="@content.Title" class="control-label"></label>
                                        <input asp-for="@content.Title" class="form-control" />

                                        <span asp-validation-for="Title" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="@content.Html" class="control-label"></label>
                                        <textarea asp-for="@content.Html" rows="20" aria-label="Content" class="content">@content.Html</textarea>
                                        <span asp-validation-for="@content.Html" class="text-danger"></span>
                                    </div>
                                }

                                <input type="hidden" id="edit" />

                                <div class="form-group">
                                    <input type="submit" value="Save" class="btn btn-default" />
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div>
        </div>
    </section>
</div>

@{ var host = Context.Request.Host.ToString(); }
@section Scripts {

    <script src="//@host/lib/tinymce/tinymce.min.js"></script> @*with enabled CDN tinymce is not able to find some files*@
    <script src="~/js/admin.js" async></script>
}