﻿@model Bootproject.Core.Services.Content

<h4>Content</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditContent">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Html" class="control-label"></label>
                <input asp-for="Html" class="form-control" />
                <span asp-validation-for="Html" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

