﻿@model Bootproject.Core.Services.Page


@{
    int a = 1;
    Func<int, string> alternate = (i) => { return (i % 2 == 0) ? "" : " mobile"; };

    foreach (var c in Model.Contents)
    {
        a++;
        <div class="sectionroot @alternate(a)">
            <section>
                <div class="sharedsection">
                    <div class="sectioncontent">
                        @Html.Raw(c.Html)
                    </div>
                </div>
            </section>
        </div>
    };
}



@*


    <div class="sectionroot">
            <section>
                <div class="sharedsection">
                    <div class="sectioncontent">
                          
                    </div>
                </div>
            </section>
        </div>



            <header><div><h2>Bootproject timeline</h2><h4>Latest projects and assaignments</h4></div></header>
        <div class="timeline-point"><div class="timeline-icon"></div><div class="timeline-block">
        <div class="timeline-content"><h3>Dynamics 365</h3><p>Right now Im preparing for a new project for a bank institution. Its a new client that needs to move all projects from Dynamics On Premise to Azure.</p></div></div></div><div class="timeline-point"><div class="timeline-icon"></div><div class="timeline-block"><div class="timeline-content"><h3>Kubernetes</h3><p>KUBERNETES... Yummy. Can you taste the word? -Anyhow, my current goal is to create microservices with Kubernetes and to understand the Kubernetes and Docker pipeline.</p></div></div></div><div class="timeline-point"><div class="timeline-icon"></div><div class="timeline-block"><div class="timeline-content"><h3>Azure tables, Storage</h3><p>Build your API or content structure thrue Azure tables. An pretty easy way to put your api online in a secure way.</p></div></div></div><div class="timeline-point"><div class="timeline-icon"></div><div class="timeline-block"><div class="timeline-content"><h3>Multitenancy</h3><p>.NET package that makes ease of using multiple domains and databases. Download at NuGet. - install-package Boot.Multitenancy</p></div></div></div><div class="timeline-point"><div class="timeline-icon"></div><div class="timeline-block"><div class="timeline-content"><h3>Bitbucket</h3><p>Bitbucket is a really nice platform to share your code, but also as for deployment to for eg. Azure, thrue their pipelines.</p></div></div></div><div class="timeline-point"><div class="timeline-icon"></div><div class="timeline-block"><div class="timeline-content"><h3>React JS</h3><p>React is a really great platform to make advanced content structures, in an easy way.</p></div></div></div>
        </div>


        <div>
            <header><img src="/img/code.svg" alt="multi" class="mini" /> <h2>Render React in Zones</h2></header>
            Current project (Learing React) contains an implementation of creating Zones. A zone is a component that is defined in a template, then filled from a service API. When you define templates you just enter what zones to get React Components from. This website is built with the zone layout.Keeping it simple and generic is the way I like it.
        </div>


        <header><img src="/img/layers.svg" alt="multi" class="mini" /> <h2>Development base</h2></header>
    <ul class=" shared_grid">
        <li>
            <h2><img src="img/layers.svg" alt="multi" class="small" /> Multitenancy</h2>
            <p>.NET package that makes ease of using multiple domains and databases. Download at NuGet</p>
        </li>
        <li>
            <h2><img src="img/bitbucket.png" alt="multi" class="small" /> Bitbucket</h2>
            <p>Bitbucket is a really nice platform to share your code, but also for deployment to for eg. Azure, thrue their piplines.</p>
        </li>
        <li>
            <h2><img src="img/react.png" alt="multi" class="small" /> React JS</h2>
            <p>React is a really great platform to make advanced content structures, in an easy way.</p>
        </li>
    </ul>*@

