﻿@inject IOptionsSnapshot<BlogSettings> settings
@inject WebManifest manifest

@{
    var host = Context.Request.Scheme + "://" + Context.Request.Host;
    var pages = (List<Bootproject.Core.Services.Page>)ViewData["Pages"];
    Func<bool, string> active = (p) => { return (p==true) ? "active" : ""; };
}

<!DOCTYPE html>
<html lang="en">
<head prefix="og: http://ogp.me/ns#">
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous" />

    <link rel="stylesheet" href="/fonts/calibre/calibre.css" type="text/css" />
    <link rel="preload" href="~/css/page.scss" as="style" />
    @RenderSection("Head", required: false)
</head>

<body itemscope itemtype="http://schema.org/WebPage">

    <div id="root">
        <div>
            <section>
                <div class="container">
                    <nav class="navbar navbar-expand-lg top">
                        <a class="navbar-brand" href="/"><img src="/img/logo.svg" alt="Logo" class="brand" /> Bootproject</a>
                        <button class="navbar-toggler collapsed bg-light" type="button" data-toggle="collapse" data-target="#navbarsCollapse" aria-controls="navbarsCollapse" aria-expanded="false" aria-label="Toggle navigation">
                            <span>
                                <i class="fa fa-bars fa-1x"></i>
                            </span>
                        </button>

                        <div class="navbar-collapse collapse" id="navbarsCollapse">
                            <ul class="navbar-nav ml-auto">

                                @foreach (var link in pages)
                                {
                                    <li><a href="@link.Slug" class="nav-link text-dark @active(link.Current)">@link.Title</a></li>
                                }
                            </ul>
                        </div>
                    </nav>
                    <div>

                        @if (Context.Request.Path == "/")
                        {
                            <div class="sectioncontent">
                                <div class="sharedSection">
                                    <h1><span>Boot</span><span>project </span><span>-developer</span><span>connection</span></h1>
                                    <div class="imagecontainer"><img alt="Logo back" src="img/logobg.svg" /></div><div>
                                        <p class="intro">Bootproject is development base for all projects and also where I create and test out new features from both .NET, javascript frameworks and more.<br></p>
                                        <a class="biglink" href="https://bitbucket.org/rickardmagnusson/learningreact/src/master/" rel="noopener noreferrer" target="_blank">Go to Bitbucket</a>
                                    </div>
                                </div>
                            </div>


                            <div class="sectionroot">
                                <section>
                                    <div class="sharedsection">
                                        <div class="sectioncontent">
                                            <header><img src="/img/layers.svg" alt="multi" class="mini" /> <h2>Development base</h2></header>
                                            <ul class=" shared_grid">
                                                <li>
                                                    <h2><img src="img/layers.svg" alt="multi" class="small" /> Multitenancy</h2>
                                                    <p>.NET package that makes ease of using multiple domains and databases. Download at NuGet</p>
                                                </li>
                                                <li>
                                                    <h2><img src="img/bitbucket.png" alt="multi" class="small" /> Bitbucket</h2>
                                                    <p>Bitbucket is a really nice platform to share your code, but also for deployment to for eg. Azure, thrue their piplines.</p>
                                                </li>
                                                <li>
                                                    <h2><img src="img/react.png" alt="multi" class="small" /> React JS</h2>
                                                    <p>React is a really great platform to make advanced content structures, in an easy way.</p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </section>
                            </div>

                        }



                        <!--Content-->
                        @RenderBody()
                        <!-- //Content-->

                        <section class="sharedsection">
                            <div class="sectioncontent">
                                @Html.ActionLink("Edit page", "Edit", new { Slug = Url.RouteUrl(ViewContext.RouteData.Values).TrimStart('/') })
                                @Html.ActionLink("Add content", "AddContent", new { Slug = Url.RouteUrl(ViewContext.RouteData.Values).TrimStart('/') })
                            </div>
                        </section>

                    </div>
                    <footer>
                        <section class="sharedsection">
                            <div class="sectioncontent">
                                <ul class="shared_grid">
                                    <li>
                                        <img src="img/user.white.png" alt="multi" class="mini" /> <h2>About</h2>
                                        <p>The Swede(me), Rickard Magnusson a Senior fullstack developer, currently employeed as a consultant at Cap Gemini AS in Norway.</p>
                                    </li>
                                    <li>
                                        <h2>Legal</h2>
                                        <p>Everything on this site is just for my own education.</p>
                                    </li>
                                    <li>
                                        <h2><img src="img/logo.svg" alt="Logo" class="small" /> Contact</h2>
                                        <p>Email: bootproject@icloud.com</p>
                                    </li>
                                </ul>
                                <div>(&copy;) Copyright www.bootproject.se 2018</div>
                            </div>
                        </section>
                    </footer>
                </div>
            </section>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="~/js/site.js" async defer></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
