﻿@inject IOptionsSnapshot<BlogSettings> settings
@inject WebManifest manifest
@using h = Miniblog.Core.HtmlHelpers

@{
    var host = Context.Request.Scheme + "://" + Context.Request.Host;
    var pages = h.GetPages();

    Func<Bootproject.Core.Services.Page, string> active = (p) => { return (p.Slug == "/blog") ? "active" : ""; };
}
<!DOCTYPE html>
<html lang="en">
<head prefix="og: http://ogp.me/ns#">
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
    @*<meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="@ViewData["Description"]" />*@

    <meta name="keywords" content="Bootproject,Senior,fullstack,developer,software,engineer" />
    <meta name="description" content="A freelance creative engineer with over 15 years’ experience in a variety of development." />
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no" />
    <meta name="apple-mobile-web-app-title" content="Bootproject" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link rel="apple-touch-icon" sizes="57x57" href="/img/apple-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/img/apple-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="/img/apple-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="/img/apple-icon-144x144.png" />
    <link rel="apple-touch-startup-image" href="/img/apple-touch-startup-image-320x460.png" media="(device-width: 320px)" />
    <link rel="apple-touch-startup-image" href="/img/apple-touch-startup-image-640x920.png" media="(device-width: 320px) and (device-height: 460px) and (-webkit-device-pixel-ratio: 2)" />
    <link rel="apple-touch-startup-image" href="/img/apple-touch-startup-image-640x1096.png" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)" />
    <link rel="apple-touch-startup-image" href="/img/launch.png" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous" />

    <link rel="stylesheet" href="/fonts/calibre/calibre.css" type="text/css" />
    <link rel="preload" href="~/js/site.js" as="script" />
    <link rel="preload" href="~/css/belowthefold.scss" as="style" />
    <noscript><link rel="stylesheet" href="~/css/belowthefold.scss" /></noscript>
    @RenderSection("Preload", required: false)
    <link rel="stylesheet" href="~/css/abovethefold.scss" inline />


    <meta property="og:type" content="article" />
    <meta property="og:title" content="@ViewData["Title"]" />
    <meta property="og:description" content="@ViewData["Description"]" />
    <meta property="og:url" content="@(host + Context.Request.Path)" />
    <meta property="og:image" content="@host/img/apple-icon-144x144.png" />
    <meta property="og:image:width" content="512" />
    <meta property="og:image:height" content="512" />

    <meta name="msapplication-square150x150logo" content="~/img/apple-icon-144x144.png" />

    <link rel="icon" type="image/png" sizes="16x16" href="~/img/apple-icon-57x57.png" />
    <link rel="apple-touch-icon" href="~/img/icon180x180.png" />
    <link rel="shortcut icon" href="~/img/apple-icon-57x57.png" />

    <link rel="edituri" type="application/rsd+xml" title="RSD" href="~/rsd.xml" />
    <link rel="alternate" type="application/rss+xml" href="~/feed/rss/" />
    <link rel="alternate" type="application/atom+xml" href="~/feed/atom/" />
    @RenderSection("Head", required: false)
</head>
<body itemscope itemtype="http://schema.org/WebPage">

    <div id="root">
        <section>
            <div class="container">


                <nav class="navbar navbar-expand-lg top">
                    <a class="navbar-brand" href="/"><img src="/img/logo.svg" alt="Logo" class="brand" /> Bootproject</a>
                    <button class="navbar-toggler collapsed bg-light" type="button" data-toggle="collapse" data-target="#navbarsCollapse" aria-controls="navbarsCollapse" aria-expanded="false" aria-label="Toggle navigation"></button>

                    <div className="navbar-collapse collapse" id="navbarsCollapse">
                        <ul className="navbar-nav ml-auto">
                            @foreach (var link in pages)
                            {
                                <li><a href="@link.Slug" class="nav-link text-dark @active(link)">@link.Title</a></li>
                            }
                        </ul>
                    </div>
                </nav>




                <section>
                    <main itemprop="mainEntity" itemscope itemtype="http://schema.org/Blog">
                        <noscript>
                            <p class="container">Some features of this website do not work as expected when JavaScript is disabled</p>
                        </noscript>
                      
                    </main>
                </section>
                @RenderBody()
                <footer class="sitefooter">
                    <div class="container">
                        <nav>
                            <ul>
                                @{
                                    string path = Context.Request.Path;

                                    if (User.Identity.IsAuthenticated)
                                    {
                                        <li><a asp-controller="Blog" asp-action="Edit">New post</a></li>
                                        <li><a href="~/logout/" title="Sign out as administrator">Sign out</a></li>
                                    }
                                    else
                                    {
                                        <li><a href="~/login/?returnUrl=@path" rel="nofollow" title="Sign in as administrator">Sign in</a></li>
                                    }
                                }
                            </ul>
                        </nav>
                        <p>
                            Powered by <a href="https://www.bootproject.se" rel="noopener noreferrer" target="_blank">www.bootproject.se</a>
                        </p>
                    </div>
                </footer>

            </div>
        </section>
    </div>

    <!-- This lazy loads the stylesheet in a non-render blocking way -->
    <link rel="preload" href="~/css/belowthefold.scss" as="style" />
    <noscript><link rel="stylesheet" href="~/css/belowthefold.scss" /></noscript>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="~/js/site.js" async defer></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
