﻿@model Post
@inject IOptionsSnapshot<BlogSettings> settings
@{
    ViewData["Title"] = Model.Title;
    ViewData["Description"] = Model.Excerpt;
    bool showFullPost = ViewContext.RouteData.Values.ContainsKey("slug");
    string host = Context.Request.Scheme + "://" + Context.Request.Host;
    bool isCodePreview = Model.Content.Contains("</code>");
}

@section Head {
    <link rel="canonical" href="@(host + Model.GetLink())" />
}

<section>
    <article class="sectioncontent" itemscope itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
        <header>
            <h1 itemprop="name headline"><a href="@Model.GetLink()" rel="canonical" itemprop="url">@Model.Title</a></h1>
            <time datetime="@Model.PubDate.ToString("s")" itemprop="datePublished">Published @Model.PubDate.ToString("MMM d, yyyy")</time>
            @if (User.Identity.IsAuthenticated)
            {
                <a asp-controller="Blog" asp-action="edit" asp-route-id="@Model.ID" title="Edit the post">Edit post</a>
            }
        </header>

        <div itemprop="articleBody mainEntityOfPage" cdnify>
            @Html.Raw(Model.RenderContent())
        </div>

        <footer>
            @if (Model.Categories.Any())
            {
                <ul class="categories">
                    <li> Posted in </li>
                    @foreach (string cat in Model.Categories)
                    {
                        <li itemprop="articleSection"><a asp-controller="Blog" asp-action="Category" asp-route-category="@cat.ToLowerInvariant()" asp-route-page="">@cat</a></li>
                    }
                </ul>
                <text>and has</text>
            }

            <a href="@Model.GetLink()#comments" itemprop="discussionUrl" title="Go to the comments section">
                <span itemprop="commentCount">@Model.Comments.Count</span> @(Model.Comments.Count == 1 ? "comment" : "comments")
            </a>

            <meta itemprop="author" content="@settings.Value.Owner" />
            <meta itemprop="dateModified" content="@Model.LastModified.ToString("s")" />
            <meta itemprop="mainEntityOfPage" content="@(host + Model.GetLink())" />
        </footer>
    </article>
</section>

@if (showFullPost)
{
    await Html.RenderPartialAsync("_SocialSharing", Model.Title);
    await Html.RenderPartialAsync("Comments");

    @section Preload {
        @* This lazy loads the stylesheet in a non-render blocking way *@
        <link rel="preload" href="~/css/comments.scss" as="style" />
        <noscript><link rel="stylesheet" href="~/css/comments.scss" /></noscript>
        @if (isCodePreview)
        {
            <link rel="preload" href="~/lib/prism/prism.scss" as="style" />
            <script src="~/lib/prism/prism.js" async defer></script>
        }
    }
}

@if (User.Identity.IsAuthenticated)
{
    @section Scripts {
        <script src="~/js/admin.js" async defer></script>
        <link rel="stylesheet" href="~/css/admin.scss" />
    }
}
