﻿@import "variables";

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    min-height: 100%;
    position: relative;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

body {
    font: 17px $default-font-calibre;
    margin-bottom: $footer_height;
    color: $text_color;
    font-size: 17px;
    margin: 0 auto;
}

h1 {
    letter-spacing: -5px;
}

.root {
    display: block;
}


.container {
    display: flex;
    flex-direction: column;
    min-height: calc(60vh + 26rem);
    justify-content: space-between;
    max-width: 100vw;
    padding-left: 0;
}

.siteheader {
    text-align: right;
    padding: .8em 1.5em 2em 1.5em;

    p {
        font-size: 2em;
    }

    a {
        color: $text_color;
        text-decoration: none;
    }
}

.siteheader .logo{
    float: left;
}

.brand {
    width: 64px !important;
}

a, button, submit {
    outline: none !important;
}

.headline a {
    color: $text_color !important;
}

.biglink {
    text-align: center;
    text-transform: uppercase;
    padding: 20px;
    color: #fff !important;
    background: tomato;
    text-decoration: none;
    font-size: 4vw;
    border-radius: 3px;

    @media (min-width: 768px) {
        font-size: 2vw;
    }
}


.navbar-brand {
    font-size: 22pt;
    color: tomato;
    font-weight: 700;
        -ms-flex-direction: row;
        flex-direction: row;

}

.navbar-brand:hover {
    color: tomato !important;
}

.brand {
    width: 64px;
}

.top ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.top ul li {
    list-style: none;
}

.top ul li a {
    position: relative;
    display: block;
    text-align: center;
    margin: 0 25px;
    color: #262626;
    font-weight: bold;
    text-transform: uppercase;
    transition: .5s;
    padding: 5px 10px;
}

.top ul li a:hover, .top ul li a.active {
    color: #fff !important;
    background: tomato;
    text-decoration: none;
    border-radius: 3px;
}

.top ul li a:before {
    content: '';
    position: absolute;
    bottom: 12px;
    left: 12px;
    width: 12px;
    height: 12px;
    border: 3px solid tomato;
    border-width: 0 0 3px 3px;
    transition: .5s;
    opacity: 0;
}

.top ul li a:after {
    content: '';
    position: absolute;
    top: 12px;
    right: 12px;
    width: 12px;
    height: 12px;
    border: 3px solid tomato;
    border-width: 3px 3px 0 0;
    transition: .5s;
    opacity: 0;
}

.top ul li a:hover:before, .top ul li a.active:before {
    bottom: -12px;
    left: -12px;
    opacity: 1;
}




.sectioncontent {
    max-width: 80rem;
    margin: 0 auto;
    padding: 2rem 2rem 4rem;
}

.sectioncontent h1 {
    font-size: 6.4vw;
    padding: 0;
    margin: 0;
    letter-spacing: -2px;
    line-height: .8em;
    font-weight: 700;
    padding-bottom: .3em;
    font-size: 8vw;
    overflow-x: hidden;
}

.sectioncontent h1 span {
    display: block;
}

.sharedSection{
    margin: 0 auto;
}
.sectioncontent p {
    padding: 0 1em 0 0;
    font-weight: 300;
    line-height: 1.3em;
    font-size: 1.6em;
    line-height: 1em !important;
    margin-bottom: 2em;
}


.imagecontainer {
    position: relative;
    left: 4vw;
    top: -15vw;
    float: right;
}

.imagecontainer img {
    display: block;
    position: absolute;
    width: 20vw;
    z-index: 1
}


.tomato {
    background: tomato;
    color: #fff;
}


    /*@keyframes fade-in {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    main {
        animation: fade-in 1s ease;
    }*/

    b, strong {
        font-weight: 600;
    }

a {
    color: $text_color;

    &:hover,
    &:focus {
        text-decoration: none;
    }
}

    img, iframe {
        max-width: 100%;
    }

    img {
        height: auto;
    }

    h1, h2, h3, h4 {
        font-weight: normal;
    }

    ul, ol {
        padding-left: 2em;
    }

    time {
        color: lighten($text_color, 25%);
        font-size: .85em;
    }

    .post {
        padding-bottom: 2em;

        header {

            h1 {
                margin: .2em 0;
                line-height: 1.3;
                font-size: 2.5em;
                font-weight: lighter;

                a {
                    color: $text_color;
                    text-decoration: none;
                }
            }
        }

        > div {

            p {
                margin: 1em 0;
                word-wrap: break-word;
                -moz-hyphens: auto;
                -ms-hyphens: auto;
                -webkit-hyphens: auto;
                hyphens: auto;
            }

            img {
                padding: .5em;
            }

            ul {
                list-style: none;
                text-indent: -1em;

                li:before {
                    content: "\0BB \020";
                    opacity: .5;
                    margin-right: .3em;
                }
            }
        }

        > footer {
            border-top: 1px solid $comments_border-color;
            padding-top: .5em;
            clear: both; // In case there are any floating elements in the post content
        }

        h2, h3, h4, h5, h6 {
            margin: 1em 0 -.5em 0;
        }

        blockquote {
            border-top: 1px solid $comments_border-color;
            border-bottom: 1px solid $comments_border-color;
            color: lighten($text_color, 30%);
            font-size: 1.3em;
            width: 90%;
            margin: 1.5em auto;
            /*font-style: italic;*/
            font-weight: lighter;

            p {
                margin: 1em .5em;
            }
        }

        pre {
            font-size: .9em;
            line-height: 1.3;
            overflow: auto;
            padding: 5px 10px;
            -ms-word-wrap: normal;
            word-wrap: normal;
            background: $light-bg-color;
        }

        code {
            background: $light-bg-color;
            font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
        }

        table {
            font-size: .9em;
            border-collapse: collapse;
            font-variant-numeric: lining-nums tabular-nums;
            display: block;
            overflow-x: auto;
            white-space: nowrap;
        }

        tr:nth-child(2n) {
            background: $light-bg-color;
        }

        th {
            border-bottom: 1px solid $comments_border-color;
            text-align: left;
        }

        td, th {
            padding: 2px 7px;
        }
    }
