﻿@import "theme";


//Regular items
body {
    font-family: $default-font-calibre;
    font-size: 17px;
    margin: 0 auto;
}


h1 {
    letter-spacing: -5px;
}

a {
    color: $default-text-color;
}

a:hover {
    color: $default-link-color;
    text-decoration: none;
}





//Layout
.root {
    display: block;
}

.sectionroot {
    position: relative;
    width: 100%;
    overflow-x: hidden;
    box-sizing: border-box;
}

.sectioncontent {
    max-width: 70rem;
    margin: 0 auto;
    padding: 2rem 2rem 4rem;

    h2 {
        font-weight: 700;
        font-size: 50px;
        margin-top: 40px;
        margin-bottom: 40px;
    }
}

.sharedsection {
    margin: 0 auto;

  
}

.container {
    display: flex;
    flex-direction: column;
    min-height: calc(60vh + 26rem);
    justify-content: space-between;
    max-width: 100vw;
    padding-left: 0; 
    padding-right: 0;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}






.sectioncontent {
    max-width: 70rem;
    margin: 0 auto;
    padding: 2rem 2rem 4rem;
}

.biglink {
    text-align: center;
    text-transform: uppercase;
    padding: 20px;
    color: #fff !important;
    background: tomato;
    text-decoration: none;
    font-size: 4vw;
    border-radius: 3px;
}

.sectioncontent h1 {
    padding: 0;
    margin: 0;
    letter-spacing: -2px;
    line-height: .8em;
    font-weight: 700;
    padding-bottom: .3em;
    font-size: 10vw;
    overflow-x: hidden;
}

/**/
.sectioncontent h1 span {
    display: block;
}

/**/
.sectioncontent p {
    padding: 0 1em 0 0;
    font-weight: 300;
    line-height: 1.3em;
    font-size: 1.6em;
    line-height: 1em !important;
    margin-bottom: 2em;
}

/**/
.imagecontainer {
    position: relative;
    left: 60vw;
    top: -25vw;
}

.imagecontainer img {
    display: block;
    position: absolute;
    width: 30vw;
    z-index: 1;
}

@media (min-width:768px) {
    .sectioncontent h1 {
        font-size: 6.4vw;
    }

    .biglink {
        font-size: 2vw;
    }

    .sectioncontent p {
        max-width: 60%;
        font-size: 2em;
        margin-bottom: 2em;
    }

    .imagecontainer {
        position: relative;
        left: 27vw;
        top: -24vw
    }
}










//Grid
.shared_grid {
    margin: 0;
    padding: 0;
    list-style: none;
    grid-template-columns: repeat(3,1fr);
    display: grid;
    grid-gap: 1rem;

    li {
        padding: 2px 4px;
        line-height: 28px;
    }

    p {
        max-width: 100%;
        font-size: 14pt;
        font-weight: 500;
        line-height: 24px !important;
    }

    h2 {
        display: block;
        font-size: 18pt;
        font-weight: 700;
    }

    @media (max-width:768px) {
        grid-template-columns: repeat(1,1fr);
    }
}








//Footer
footer {
    overflow: hidden;
    padding: 3em;
    background-color: #262626;
    color: #fff;
    display: block;

    p {
        font-size: 14pt !important;
    }

    h2 {
        display: block;
        font-size: 18pt;
        font-weight: 700;
    }
}


.mini {
    width: 60px;
    float: left;
    margin-right: 20px;
}


.small {
    width: 30px;
    float: left;
    margin-right: 20px;
}

.mobile {
    background: #eee;
}




//Topnav
.top ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.top ul li {
    list-style: none;
}

.top ul li a {
    position: relative;
    display: block;
    text-align: center;
    margin: 0 25px;
    color: #262626;
    font-weight: bold;
    text-transform: uppercase;
    padding: 5px 10px;
}

.top ul li a:hover, .top ul li a.active {
    color: #fff !important;
    background: tomato;
    text-decoration: none;
    border-radius: 3px;
}

.top ul li a:before {
    content: '';
    position: absolute;
    bottom: 12px;
    left: 12px;
    width: 12px;
    height: 12px;
    border: 3px solid tomato;
    border-width: 0 0 3px 3px;
    transition: .5s;
    opacity: 0;
}

.top ul li a:after {
    content: '';
    position: absolute;
    top: 12px;
    right: 12px;
    width: 12px;
    height: 12px;
    border: 3px solid tomato;
    border-width: 3px 3px 0 0;
    transition: .5s;
    opacity: 0;
}

.top ul li a:hover:before, .top ul li a.active:before {
    bottom: -12px;
    left: -12px;
    opacity: 1;
}

.brand {
    width: 64px;
}

.navbar-collapse ul li {
    margin-top: 15px;
    margin-bottom: 15px;
}

.navbar-brand {
    font-size: 22pt;
    color: $default-link-color;
    font-weight: 700;
}


.navbar-expand-lg {
    @media (min-width: 992px) {
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }
}




